.salogan{
  font-family: 'Charmonman', cursive;
  position: fixed;
  top: 20%;
  left: 40%;
  margin-top: -50px;
  margin-left: -100px;
}

.container-chart{
  /*background: #F7F9FB;*/
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background: whitesmoke;
}

.chart{
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 35px 35px 35px;
  width: 430px;
  height: 300px;

  border-radius: 20px;
  background:  whitesmoke;
  box-shadow: inset 13px 13px 20px #cbced1,
              inset -13px -13px 20px #ffffff;
}

.form_buy{
  margin: 100px 0px;
}

.buy-title{
  position: relative;
  top: 50px;
  width: 430px;
  height: 300px;
  
  margin: 70px;
  text-align: center;
  background: whitesmoke;
}

.buy-field{
  position: relative;
  width: 580px;
  height: 100px;

  margin-top: -280px;
  text-align: center;
  background: whitesmoke;
}

.buy-click{
  position: relative;
  width: 580px;
  height: 100px;

  margin-top: -50px;;
  text-align: center;
  background: whitesmoke;
}

.form_sell{
  margin: 100px 0px;
}

.sell-title{
  position: relative;
  width: 580px;
  height: 100px;

  margin-top: 0px;
  text-align: center;
  background: whitesmoke;
}

.sell-field{
  position: relative;
  width: 580px;
  height: 100px;

  margin-top: -50px;
  text-align: center;
  background: whitesmoke;
}

.sell-click{
  position: relative;
  width: 580px;
  height: 100px;

  margin-top: -50px;
  text-align: center;
  background: whitesmoke;
}

.history-table{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 80px;
}

.order-table{
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 800px;
  margin-top: -300px;  
}

.sell-table{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 80px;
}

.list-group{
  margin: 80px;
}

.dashboard_view{
  margin-top: 40px;
  padding: 30px 30px;
  background-color: #f8f9fa;
}

.chart-dashboard {
 width: 100%;
 height: 100%;

  position: relative;
  padding: 20px 25px 20px 20px;
  width: 500px;
  height: 500px;
}

.text-price {
  margin-left: -250px;
  text-align: center;
}

.text-col-money {
  margin-left: 200px;
}

.btn-trade {
  text-align: center;
  width: 80%;
  height: 60px;
  font-size: 22px;
  padding-top: 15px;
}

.btn-margin {
  margin-top: 250px;
  text-align: center;
}

.table-background, .background-cc {
  background-color: #ffffff;
}

.table-center {
  text-align: center;
}

.a-color {
  color: #c4c4c4;
}

.a-color:hover{
  color: #198754;
}

.btn-margin-payment {
  margin: 50px;
  margin-right: 0px;
}

.btn-add-paymnet {
  margin-left: 80%;
}

.select-margin {
  margin: 20px 900px 0px 100px;
}

.input-margin {
  margin: 50px 60px 0px 100px;
}

.input-margin1 {
  margin: 50px 100px 0px 0px;
}

.text-margin {
  margin: 20px 0px 0px 100px;
  font-size: 18px;
  font-weight: 500;
}

.text-margin-detail {
  padding-left: 100px;
}

.btn-margin-detail {
  margin-left: 85%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-margin2 {
  margin: 70px 100px 0px 0px;
}

.btn-margin-deposit {
  width: 500px;
  margin-top: 20px;
}

.background-cc-margin {
  margin-bottom: 100px;
}

.btn-margin-withdraw {
  width: 500px;
}

.alert-size {
  margin-top: 50px;
  margin-left: 110px;
  width: 750px;
}

.alert-font {
  color: red;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  height: 100vh;
}

.box{
  width: 250px;
  height: 250px;
  box-shadow: 0 10px 20px rgb(0,0,0,0.288);
  border-radius: 23px;
  flex-direction: column;
  background: linear-gradient(to right,#2c5364,#203a43,#0f2027);
  position: relative;
  overflow: hidden;
}

.box img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.user_name{
  margin-bottom: 5px;
  font-size: 2rem;
  color: white;
}
.skill{
  color: rgb(255,255,255,0.555);
}

/*arrow*/
.arr_container, .cancel{
  position: absolute;
  width: 50px;
  height: 50px;
  background: white;
  bottom: 0;
  right: 0;
  border-radius: 23px 0 23px 0;
  color: rgb(70,70,70);
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .4s;
}
.arr_container i{
  transform: rotate(45deg);
}
.active_arr{
  transform: translate(80%,80%);
}
.left_container{
  position: absolute;
  background: #0f2027;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  padding: 40px 0 0 20px;
  transition: all .4s;
}
.off{
  transform: translate(-80%, -80%) rotate(90deg);
}
.active{
  transform: translate(0) rotate(0);
}
.left_container p{
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: white;
}
.left_container .skill div{
  display: inline-block;
  color:  rgb(155, 155 , 155);
  border: 1px solid rgb(155,155,155);
  padding: 5px 10px;
  font-size: .9rem;
  margin: 4px 4px 4px 0;
}

.Analysis_title {
  text-align: center;
}

.Bank_analysis{
  width: 100%;
  height: 100%;

  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 35px 35px 35px;
  width: 800px;
  height: 800px;
}

.customer_analysis{
  width: 100%;
  height: 100%;

  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 35px 35px 35px;
  width: 1200px;
  height: 1200px;
}

.animate{
  padding: 60px 35px 35px 35px;
  text-align: center;
}

#head {
  animation: head 2s infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes head {
  form{
    transform: translateY(0%) rotateZ(0deg);
  }
  to{
    transform: translateY(10%) rotateZ(-10deg);
  }
}

#barline {
    animation: bounce1 1s infinite ease-in
    alternate;
}

@keyframes bounce1{
    0% {
        transform: translateY(20px);
    }
    100%{
        transform: translateY(10px);
    }
}

#donut {
    animation: bounce2 1s infinite ease-in
    alternate;
}

@keyframes bounce2{
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(20px);
    }
}

#arm{
    animation: movement 2s infinite 
    alternate;
    transform-origin: left;
    transform-box: fill-box;
}

@keyframes movement{
    from {
        transform: translateX(0%) rotateZ(0deg);
    }
    to{
        transform: translateX(20%) rotateZ(-10deg);
    }
}

